@()

@main("HTWG Wordle") {
<div class="page">
  <header>
    <img src="/assets/images/logo.png" alt="wordle_logo" class="wordleLogo">
  </header>
  <main>
    <div id="rulebody">
      <h2>Willkommen zu Wordle</h2>
      <p>Wordle ist ein Rätselspiel, bei dem es darum geht, verborgene Wörter zu identifizieren.<br>
        Deine Mission ist klar: Finde das versteckte Wort innerhalb einer limitierten Anzahl an Versuchen.</p>
      <p>Bei jedem deiner Versuche erhältst du hilfreiche Hinweise in Form von gefärbten Buchstaben:</p>
      <div><p>🖤 <strong id="black">Schwarz</strong> deutet darauf hin, dass ein Buchstabe nicht im Wort enthalten ist.</p></div>
      <div><p>💛 <strong id="yellow">Gelb</strong> verrät dir, dass ein Buchstabe im Wort vorhanden ist, aber noch nicht am richtigen Platz.</p></div>
      <div><p>💚 <strong id="green">Grün</strong> bestätigt, dass ein Buchstabe korrekt ist und genau dort hingehört.</p></div>

      <p>Möchtest du deine Rätsel-Skills weiter herausfordern? <br>
        Versuche dich an höheren Schwierigkeitsstufen, bei denen du mehrere Wörter gleichzeitig erraten musst.</p>

      <h4>Spielmodus Leicht</h4>
      <p>Das Wordle Original! Du suchst ein Wort und hast dafür sechs Versuche. <br>
        Das Lösen sollte für dich kein Problem sein, falls doch, empfehlen wir dir noch einmal die Buchstaben zu üben.</p>

      <h4>Spielmodus Mittel</h4>
      <p>Hier wird es schon interessanter. <br>
        Behältst du den Überblick und kannst zwei Wörter gleichzeitig lösen?</p>

      <h4>Spielmodus Schwer</h4>
      <p>Nur was für Wordle Maestros! <br>
        Bezwingst du den Wordle Olymp, indem du vier Wörter gleichzeitig löst? Falls ja, bist du ein ganz Großer.</p>
    </div>

    <div class="startGame">
      <h3>Viel Spaß!</h3>
      <a href="@routes.WordleController.game()" class="btn btn-success" role="button"><h3>Spiel Starten!</h3></a><br>
    </div>

  </main>

  <footer>
      <p>Erstellt von Konstantin Göke und Cilas Handloser</p>
      <p>Produkt von der Ersatzbank</p>
 </footer>

</div>

}
