@()

@main("HTWG Wordle") {
<div class="page">

  <div>
    <nav class="navbar fixed-top" style="background-color: transparent; height: 0;">
      <div class="container-fluid d-flex justify-content-start">
          <!-- Nur der Toggler-Button links -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCustomNavbar" aria-controls="offcanvasCustomNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <!-- Das Offcanvas-Menü mit benutzerdefiniertem Hintergrundbild -->
        <div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="offcanvasCustomNavbar" aria-labelledby="offcanvasCustomNavbarLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="@routes.WordleController.index()">Home/Rules</a>
              </li>
              <hr class="custom-divider">
              <li class="nav-item">
                <a class="nav-link" href="@routes.WordleController.game()">Spiel starten</a>
              </li>
              <hr class="custom-divider">
              <li class="nav-item">
                <a class="nav-link" href="@routes.WordleController.newgame(1)">Leichtes Spiel starten</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.WordleController.newgame(2)">Mittleres Spiel starten</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="@routes.WordleController.newgame(3)">Schweres Spiel starten</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <header>
    <img src="/assets/images/logo.png" alt="wordle_logo" class="wordleLogo">
  </header>
  <main>
    <div id="rulebody">
      <h2>Willkommen zu Wordle</h2>
      <p>Wordle ist ein Rätselspiel, bei dem es darum geht, verborgene Wörter zu identifizieren.<br>
        Deine Mission ist klar: Finde das versteckte Wort innerhalb einer limitierten Anzahl an Versuchen.</p>
      <p>Bei jedem deiner Versuche erhältst du hilfreiche Hinweise in Form von gefärbten Buchstaben:</p>
      <div><p>🖤 <strong id="black">Schwarz</strong> deutet darauf hin, dass ein Buchstabe nicht im Wort enthalten ist.</p></div>
      <div><p>💛 <strong id="yellow">Gelb</strong> verrät dir, dass ein Buchstabe im Wort vorhanden ist, aber noch nicht am richtigen Platz.</p></div>
      <div><p>💚 <strong id="green">Grün</strong> bestätigt, dass ein Buchstabe korrekt ist und genau dort hingehört.</p></div>

      <p>Möchtest du deine Rätsel-Skills weiter herausfordern? <br>
        Versuche dich an höheren Schwierigkeitsstufen, bei denen du mehrere Wörter gleichzeitig erraten musst.</p>

      <h4>Spielmodus Leicht</h4>
      <p>Das Wordle Original! Du suchst ein Wort und hast dafür sechs Versuche. <br>
        Das Lösen sollte für dich kein Problem sein, falls doch, empfehlen wir dir noch einmal die Buchstaben zu üben.</p>

      <h4>Spielmodus Mittel</h4>
      <p>Hier wird es schon interessanter. <br>
        Behältst du den Überblick und kannst zwei Wörter gleichzeitig lösen?</p>

      <h4>Spielmodus Schwer</h4>
      <p>Nur was für Wordle Maestros! <br>
        Bezwingst du den Wordle Olymp, indem du vier Wörter gleichzeitig löst? Falls ja, bist du ein ganz Großer.</p>
    </div>

    <div class="startGame">
      <h3>Viel Spaß!</h3>
      <a href="@routes.WordleController.game()" class="btn btn-success" role="button"><h3>Spiel Starten!</h3></a><br>
    </div>

  </main>

  <footer>
      <p>Erstellt von Konstantin Göke und Cilas Handloser</p>
      <p>Produkt von der Ersatzbank</p>
 </footer>

</div>

}
