@(controller: de.htwg.se.wordle.controller.ControllerInterface, bool: Boolean, message: String)
@controllerOutputSting= @{"<div class=\"gamefield\">" + controller.toString + "</div>"}

@main("HTWG Wordle"){
    <div class="page">
        <div>
            <nav class="navbar fixed-top" style="background-color: transparent; height: 0;">
                <div class="container-fluid d-flex justify-content-start">
                        <!-- Nur der Toggler-Button links -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCustomNavbar" aria-controls="offcanvasCustomNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                        <!-- Das Offcanvas-Menü mit benutzerdefiniertem Hintergrundbild -->
                    <div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="offcanvasCustomNavbar" aria-labelledby="offcanvasCustomNavbarLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="@routes.WordleController.index()">Home/Rules</a>
                                </li>
                                <hr class="custom-divider">
                                <li class="nav-item">
                                    <a class="nav-link active" href="@routes.WordleController.game()">Spiel starten</a>
                                </li>
                                <hr class="custom-divider">
                                <li class="nav-item">
                                    <a class="nav-link" href="@routes.WordleController.newgame(1)">Leichtes Spiel starten</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@routes.WordleController.newgame(2)">Mittleres Spiel starten</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@routes.WordleController.newgame(3)">Schweres Spiel starten</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <header>
            <img src="/assets/images/logo.png" alt="wordle_logo" class="wordleLogo">
        </header>
        <main>
            @if(bool) {
                <div class="gamebody">
                    <div class="wordleWordEingabe">

                        <form class="wordleWordEingabe" action="/play" method="GET">
                            <label form="wordInput"></label>
                            <!-- Input-Feld: 5 Buchstaben, nur alphabetische Zeichen -->
                            <div class="image-container-wordInput">
                                <input type="text" id="wordInput" name="input" maxlength="5" pattern="[A-Za-zÄÖÜäöü]{5}" title="Bitte genau 5 Buchstaben eingeben" required>
                            </div>
                            <input class="btn btn-success" type="submit" value="Absenden">
                        </form>
                    </div>

                    <div id="gameboard">
                        @Html(controllerOutputSting
                        .replaceAll("\n\n", "</div><div class=\"gamefield\">")
                    .replaceAll("\n", "<br>")
                    .replaceAll("\u001B\\[33m", "<span style='color: orange;'>")
                        .replaceAll("\u001B\\[32m", "<span style='color: green;'>")
                            .replaceAll("\u001B\\[0m", "</span>")
                        )
                    </div>
                    <!-- Tastatur-Container, der später gefüllt wird -->
                    <div id="keyboard-container"></div>

                    <div>
                        <form action="/stop" method="GET">
                            <button class="btn btn-danger" id="aufgeben" type="submit">Aufgeben</button>
                        </form>
                    </div>
                </div>
            } else {
                <div class="gamebody">
                    <div id="Schwirigkeitsstufe">
                        <a href="@routes.WordleController.newgame(1)" class="btn btn-primary" role="button">Einfach</a><br>
                        <a href="@routes.WordleController.newgame(2)" class="btn btn-primary" role="button">Mittel</a><br>
                        <a href="@routes.WordleController.newgame(3)" class="btn btn-primary" role="button">Schwer</a><br>
                    </div>

                    <div>
                        <form action="/end" method="GET">
                            <button class="btn btn-danger" id="back" type="submit">Spiel Beenden</button>
                        </form>
                    </div>
                </div>

            }
        </main>
        <footer>
            <div class="footer-text" id="messagebox">
                <p>@message</p>
            </div>
        </footer>

    </div>

}