@(controller: de.htwg.se.wordle.controller.ControllerInterface, bool: Boolean, message: String)
@controllerOutputSting= @{"<div>" + controller.toString + "</div>"}

@main("HTWG Wordle"){
    <div class="gamecontainer">
        <div class="unknown">
            <h1>Wordle</h1>

            @if(bool) {
                @Html(controllerOutputSting

                    .replaceAll("\n\n", "</div><div>")
                    .replaceAll("\n", "<br>")
                    .replaceAll("\u001B\\[33m", "<span style='color: orange;'>")
                    .replaceAll("\u001B\\[32m", "<span style='color: green;'>")
                    .replaceAll("\u001B\\[0m", "</span>")
                    )
                <form action="/play" method="GET">
                    <label for="wordInput">Dein Wort:</label>
                    <!-- Input-Feld: 5 Buchstaben, nur alphabetische Zeichen -->
                    <input type="text" id="wordInput" name="input" maxlength="5" pattern="[A-Za-z]{5}" title="Bitte genau 5 Buchstaben eingeben" required>
                    <input type="submit" value="Absenden">
                </form>
            } else {
                <a href="@routes.WordleController.newgame(1)">Einfach</a><br>
                <a href="@routes.WordleController.newgame(2)">Mittel</a><br>
                <a href="@routes.WordleController.newgame(3)">Schwer</a><br>
            }

            <div>
                <p>@message</p>
            </div>




        </div>
    </div>
}