@(controller: de.htwg.se.wordle.controller.ControllerInterface, bool: Boolean)
@myString= @{controller.toString}

@main("HTWG Wordle"){
    <div class="gamecontainer">
        <div class="unknown">
            <h1>Wordle</h1>




            @if(bool) {
                <p>Geben Sie um zu raten bitte ein fünfstelliges Wort ein!</p>
                @Html(myString.replaceAll("\n", "<br>"))
                <form action="/play" method="GET">
                    <label for="wordInput">Dein Wort:</label>
                    <!-- Input-Feld: 5 Buchstaben, nur alphabetische Zeichen -->
                    <input type="text" id="wordInput" name="input" maxlength="5" pattern="[A-Za-z]{5}" title="Bitte genau 5 Buchstaben eingeben" required>
                    <input type="submit" value="Absenden">
                </form>
            } else {
                <H2>Neues Spiel starten?</H2>
                <h3>Wähle die Schwierigkeit aus!</h3>
                <a href="@routes.WordleController.newgame(1)">Einfach</a><br>
                <a href="@routes.WordleController.newgame(1)">Mittel</a><br>
                <a href="@routes.WordleController.newgame(1)">Schwer</a><br>
            }
            <!-- Den String ausgeben und alle \n durch <br> ersetzen -->




        </div>
    </div>
}