@font-face {
    font-family: 'Comicmeneu-Regular'; /* Standard Schriftart von Wordle */
    src: url('/assets/fonts/Comicmeneu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Wordlefont-Regular'; /*Schriftart für die geratene Wörter */
    src: url('/assets/fonts/Wordlefont-Regular.ttf') format('truetype');
}



/* global for every Page*/
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url("/assets/images/background.png");
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Font size = 2.5em
 or Font size = 1.1*/

body {
    font-family: 'Comicmeneu-Regular';
    text-align: center;
    font-size: 1.1em;
    line-height: 1em;
    min-height: 100vh;
    margin: 0;
}

footer{
    background-image: url('/assets/images/messagebox_background.png');
    background-size: cover; /* Bild vollständig im Container anzeigen */
    background-position: center;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}


.header {

}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Zentriert den Inhalt vertikal */
    align-items: center; /* Zentriert den Inhalt horizontal */
    padding-bottom: 10px;

}
.footer {
    background-image: url('/assets/images/messagebox_background.png');
    background-size: cover; /* Bild vollständig im Container anzeigen */
    background-position: center;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.wordleLogo {
    width: 35vw;
    display: block;
    margin: 0 auto;
}



/*every Page except Rules Page*/


/*Schwierigkeit wählen Page*/
#Schwirigkeitsstufe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}

/*Die 3 Links zum auswählen der Schwierigkeit*/
.stufe{
    margin: 1vw;
    font-size: 2.5em;
}


/*Game Page*/
#gameboard {
    display: flex; /* Flexbox aktivieren */
    flex-wrap: wrap;
    justify-content: center; /* Horizontale Zentrierung der Gamefields */
    align-items: normal; /* Vertikale Zentrierung der Gamefields */
    margin-top: auto;
}

.page{
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.gamefield {
    font-family: 'Wordlefont-Regular';
    font-size: 2.5em;
    line-height: normal;
    text-align: center; /* Text zentrieren */
    margin: 3vw 2vw 2.5vw 2vw;
}

.wordleWordEingabe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.button {
    padding: 1vw 1vh;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0.2vw;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

/*Aufgeben Button*/
#aufgeben {
    margin-top: 3vh;
}

.image-container-wordInput {
    position: relative;
    width: 20vw;
    height: 15vh;
    background-image: url('/assets/images/eingabe_background.png');
    background-size: contain; /* Bild vollständig im Container anzeigen */
    background-repeat: no-repeat;
    background-position: center; /* Bild zentrieren */
}

.image-container-wordInput input[type="text"] {
    position: absolute;
    top: 50%; /* Vertikal zentrieren (50% von oben) */
    left: 50%; /* Horizontal zentrieren (50% von links) */
    transform: translate(-50%, -50%); /* Korrektur, um das Input-Feld genau in der Mitte zu platzieren */
    width: 10vw; /* Breite des Input-Feldes */
    font-size: 1em; /* Schriftgröße im Input-Feld */
    background-color: rgb(226 228 230);
}
