#scoreBoardAndChat {
    grid-column-gap: 30px;
    flex-flow: row;
    justify-content: center;
    /*align-items: center;*/
    display: flex;
}

/* SCOREBOARD BOX */



/* Layout des Containers */
#input-container {
    display: flex;
    justify-content: space-between; /* Verteilt die Elemente horizontal */
    align-items: center; /* Zentriert die Elemente vertikal */
    gap: 10px; /* Fügt einen Abstand zwischen den Elementen hinzu */
    border-radius: 12px; /* Abgerundete Ecken für den Container */
}
