@font-face {
    font-family: 'Comicmeneu-Regular'; /* Standard Schriftart von Wordle */
    src: url('../assets/fonts/Comicmeneu-Regular.ttf') format('truetype');
}

p {
    font-size: 20px; /* Set your desired font size */
}


/*Bootstrap anpassungen*/
/* Hintergrundbild für das Offcanvas-Menü */
.custom-offcanvas {
    background-image: url('../assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white; /* Textfarbe anpassen, damit sie lesbar ist */
}

.custom-divider {
    border-top: 2px solid #2b2b2b;
    margin: 0.5rem 0; /* Abstand über und unter der Linie */
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url("../assets/images/background.png");
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


@media (min-width: 0px) {

}

/* Small devices*/
@media (min-width: 576px) {

}

/* Medium devices*/
@media (min-width: 768px) {

}

/*Large devices*/
@media (min-width: 992px) {

}

/*Extra large devices*/
@media (min-width: 1200px) {

}


@media (min-width: 1400px) {

}

/* global for every Page*/


/* Font size = 2.5em
 or Font size = 1.1*/

body {
    font-family: 'Comicmeneu-Regular', Serif !important;
    text-align: center;
    font-size: 1.1em;
    line-height: 1em;
    min-height: 100vh;
    margin: 0;
}


main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Zentriert den Inhalt vertikal */
    align-items: center; /* Zentriert den Inhalt horizontal */
    padding-bottom: 10px;
    text-align: center;

}

footer{
    background-image: url('../assets/images/messagebox_background.png');
    background-size: cover; /* Bild vollständig im Container anzeigen */
    background-position: center;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}


.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Zentriert den Inhalt vertikal */
    align-items: center; /* Zentriert den Inhalt horizontal */
    padding-bottom: 10px;
}


.wordleLogo {
    width: 35vw;
    display: block;
    margin: 0 auto;
}


/*Rules Page*/
.startGame {
    text-align: center;
}


/*every Page except Rules Page*/


/*Schwierigkeit wählen Page*/
#Schwirigkeitsstufe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}

/*Die 3 Links zum auswählen der Schwierigkeit*/
.stufe{
    margin: 1vw;
    font-size: 2.5em;
}


/*Game Page*/


.page{
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.wordleWordEingabe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}


.image-container-wordInput {
    position: relative;
    width: 20vw;
    height: 15vh;
    background-image: url('../assets/images/eingabe_background.png');
    background-size: contain; /* Bild vollständig im Container anzeigen */
    background-repeat: no-repeat;
    background-position: center; /* Bild zentrieren */
}

.image-container-wordInput input[type="text"] {
    position: absolute;
    top: 50%; /* Vertikal zentrieren (50% von oben) */
    left: 50%; /* Horizontal zentrieren (50% von links) */
    transform: translate(-50%, -50%); /* Korrektur, um das Input-Feld genau in der Mitte zu platzieren */
    width: 10vw; /* Breite des Input-Feldes */
    font-size: 1em; /* Schriftgröße im Input-Feld */
    background-color: rgb(226 228 230);
}
